textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}

button {
  background-color: #5bc0de;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #31b0d5;
}
ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 20px 0;
  position: relative;
}

li::before {
  content: "\2022";
  position: absolute;
  left: -20px;
  top: 4px;
  color: #443b3b;
}
