/* Tùy chỉnh cho danh sách bài viết */
ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 20px 0;
}

button {
  background-color: #d9534f;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #c9302c;
}

/* Tùy chỉnh cho mục chỉnh sửa và comment */
button a {
  text-decoration: none;
  color: #fff;
}
